{{#accordion-list showExpandAll=false as | al expandFn |}}
{{#accordion-list-item
     title="Account Access"
     detail="Configure the Personal access token"
     expandAll=expandAll
     expand=(action expandFn)
     expandOnInit=true
  }}
<div class="row">
    <div class="col span-3">
        <label class="acc-label">
            Token
        </label>
        {{#if (eq step 1)}}
        {{input
            type="password"
            name="username"
            size="80"
            classNames="form-control"
            placeholder="Your access token"
            value=cluster.doksEngineConfig.accessKey
          }}
        {{else}}
        <div>{{cluster.doksEngineConfig.accessKey}}</div>
        {{/if}}
    </div>
</div>

{{#if (eq step 1)}}
<div class="row">
    <div class="span-9">
        <p class="text-info text-small m-0">Personal access tokens function like a combined name and password for API
            authentication.

        </p>
    </div>
</div>
{{/if}}
{{/accordion-list-item}}

{{#if (eq step 1)}}
{{save-cancel
      editing=(eq mode "edit")
      save=(action "digitalOceanLogin")
      cancel=close
      createLabel="nodeDriver.amazoneks.access.next"
      savingLabel="nodeDriver.amazoneks.access.loading"
    }}
{{/if}}

{{#if (gte step 2)}}
{{#accordion-list-item
       title="Cluster Options"
       detail="Define the region, VPC and kubernetes version of the cluster."
       showExpand=false
       expandOnInit=true
       expandAll=al.expandAll
       expand=(action expandFn)
    }}
<div class="row">
    <div class="col span-6">
        <label class="acc-label">
            {{t "nodeDriver.amazoneks.kubernetesVersion.label"}}
        </label>
        {{new-select
            classNames="form-control"
            content=versionChoices
            value=cluster.doksEngineConfig.kubernetesVersion
          }}
        {{#if editing}}
        <!--p class="help-block">{{t "formVersions.eks.helpBlock"}}</p-->
        {{/if}}
    </div>

    <div class="col span-6">
        <label class="acc-label">
            Region
        </label>
        {{new-select
            classNames="form-control"
            content=versionChoices
            value=cluster.doksEngineConfig.kubernetesVersion
          }}
        {{#if editing}}
        <!--p class="help-block">{{t "formVersions.eks.helpBlock"}}</p-->
        {{/if}}
    </div>

</div>
<div class="row">
    <div class="col span-6">
        <label class="acc-label">
            VPC
        </label>
        {{new-select
            classNames="form-control"
            content=versionChoices
            value=cluster.doksEngineConfig.kubernetesVersion
          }}
        {{#if editing}}
        <!--p class="help-block">{{t "formVersions.eks.helpBlock"}}</p-->
        {{/if}}
    </div>
</div>
{{/accordion-list-item}}

{{#if (eq step 2)}}
{{save-cancel
        editing=(eq mode "edit")
        save=(action "loadVPS")
        cancel=close
        createLabel="nodeDriver.amazoneks.role.next"
        savingLabel="nodeDriver.amazoneks.role.loading"
      }}
{{/if}}
{{/if}}

{{#if (gte step 3)}}
{{#accordion-list-item
       title="Node Pool"
       detail="Choose cluster capacity"
       showExpand=false
       expandOnInit=true
       expandAll=al.expandAll
       expand=(action expandFn)
    }}
<div class="row">
    <div class="col span-4">
        <label class="acc-label">
            Node Pool Name
        </label>
        {{#if (eq step 3)}}
        {{input
            type="text"
            name="username"
            classNames="form-control"
            placeholder="Enter Node Pool Name"
            value=cluster.doksEngineConfig.accessKey
          }}
        {{else}}
        <div>{{cluster.doksEngineConfig.accessKey}}</div>
        {{/if}}
    </div>
    <div class="col span-4">
        <label class="acc-label">
            Machine Type
        </label>
        {{new-select
            classNames="form-control"
            content=versionChoices
            value=cluster.doksEngineConfig.kubernetesVersion
          }}
        {{#if editing}}
        <!--p class="help-block">{{t "formVersions.eks.helpBlock"}}</p-->
        {{/if}}
    </div>
    <div class="col span-4">
        <label class="acc-label">
            Number Nodes
        </label>
        {{#input-or-display
             
             value=cluster.doksEngineConfig.desiredNodes
          }}
        {{input-number value=cluster.doksEngineConfig.desiredNodes min=1}}
        {{/input-or-display}}
    </div>
</div>

{{/accordion-list-item}}

{{save-cancel
      editing=(eq mode "edit")
      save=(action "driverSave")
      cancel=close
    }}
{{/if}}

{{top-errors errors=errors}}
{{top-errors errors=otherErrors}}
{{top-errors errors=clusterErrors}}
{{/accordion-list}}