{{#accordion-list showExpandAll=false as | al expandFn |}}
{{#accordion-list-item
     title=(t "clusterNew.doks.access.title")
     detail=(t 'clusterNew.doks.access.subtitle')
     expandAll=expandAll
     expand=(action expandFn)
     expandOnInit=true
  }}
<div class="row">
    <div class="col span-3">
        <label class="acc-label">
            {{t "clusterNew.doks.access.tokenField"}}
        </label>
        {{#if (eq step 1)}}
        {{input
            type="password"
            name="username"
            size="80"
            classNames="form-control"
            placeholder=(t 'clusterNew.doks.access.tokenPlaceholder')
            value=cluster.doksEngineConfig.token
          }}
        {{else}}
        <div class="text-muted text-italic">{{t "clusterNew.doks.access.tokenProvided"}}</div>
        {{/if}}
    </div>
</div>

{{#if (eq step 1)}}
<div class="row">
    <div class="span-9">
        <p class="text-info text-small m-0">{{t "clusterNew.doks.access.tokenInfo"}}
        </p>
    </div>
</div>
{{/if}}
{{/accordion-list-item}}

{{#if (eq step 1)}}
{{save-cancel
      editing=(eq mode "edit")
      save=(action "digitalOceanLogin")
      cancel=close
      createLabel="clusterNew.doks.access.next"
      savingLabel="clusterNew.doks.loading"
    }}
{{/if}}

{{#if (gte step 2)}}
{{#accordion-list-item
       title=(t "clusterNew.doks.cluster.title")
       detail=(t "clusterNew.doks.cluster.subtitle")
       showExpand=false
       expandOnInit=true
       expandAll=al.expandAll
       expand=(action expandFn)
    }}
<div class="row">
    <div class="col span-6">
        <label class="acc-label">
            {{t "clusterNew.doks.cluster.kubernetesVersionField"}}
        </label>
        {{new-select
            classNames="form-control"
            content=versionChoices
            value=cluster.doksEngineConfig.kubernetesVersion
          }}
        {{#if editing}}
        <!--p class="help-block">{{t "formVersions.eks.helpBlock"}}</p-->
        {{/if}}
    </div>

    <div class="col span-6">
        <label class="acc-label">
            {{t "clusterNew.doks.cluster.regionField"}}
        </label>
        {{new-select
            classNames="form-control"
            content=regionChoices
            value=cluster.doksEngineConfig.region
          }}
        {{#if editing}}
        <!--p class="help-block">{{t "formVersions.eks.helpBlock"}}</p-->
        {{/if}}
    </div>

</div>
<div class="row">
    <div class="col span-6">
        <label class="acc-label">
            {{t "clusterNew.doks.cluster.vpcField"}}
        </label>
        {{new-select
            classNames="form-control"
            content=vpcChoices
            value=cluster.doksEngineConfig.vpc
          }}
        {{#if editing}}
        <!--p class="help-block">{{t "formVersions.eks.helpBlock"}}</p-->
        {{/if}}
    </div>
</div>
{{/accordion-list-item}}

{{#if (eq step 2)}}
{{save-cancel
        editing=(eq mode "edit")
        save=(action "configureNodePool")
        cancel=close
        createLabel="clusterNew.doks.cluster.next"
        savingLabel="clusterNew.doks.loading"
      }}
{{/if}}
{{/if}}

{{#if (gte step 3)}}
{{#accordion-list-item
       title=(t "clusterNew.doks.nodePool.title")
       detail=(t "clusterNew.doks.nodePool.subtitle")
       showExpand=false
       expandOnInit=true
       expandAll=al.expandAll
       expand=(action expandFn)
    }}
<div class="row">
    <div class="col span-4">
        <label class="acc-label">
            {{t "clusterNew.doks.nodePool.nameField"}}
        </label>
        {{#if (eq step 3)}}
        {{input
            type="text"
            name="username"
            classNames="form-control"
            placeholder=(t 'clusterNew.doks.nodePool.namePlaceholder')
            value=cluster.doksEngineConfig.nodePoolName
          }}
        {{else}}
        <div>{{cluster.doksEngineConfig.nodePoolName}}</div>
        {{/if}}
    </div>
    <div class="col span-4">
        <label class="acc-label">
            {{t "clusterNew.doks.nodePool.machineTypeField"}}
        </label>
        {{new-select
            classNames="form-control"
            content=machineTypeChoices
            value=cluster.doksEngineConfig.machineType
          }}
        {{#if editing}}
        <!--p class="help-block">{{t "formVersions.eks.helpBlock"}}</p-->
        {{/if}}
    </div>
    <div class="col span-4">
        <label class="acc-label">
            {{t "clusterNew.doks.nodePool.numberNodesField"}}
        </label>
        {{#input-or-display
             
             value=cluster.doksEngineConfig.desiredNodes
          }}
        {{input-number value=cluster.doksEngineConfig.desiredNodes min=1}}
        {{/input-or-display}}
    </div>
</div>

{{/accordion-list-item}}

{{save-cancel
      editing=(eq mode "edit")
      save=(action "save")
      cancel=close
    }}
{{/if}}

{{top-errors errors=errors}}
{{top-errors errors=otherErrors}}
{{top-errors errors=clusterErrors}}
{{/accordion-list}}